@charset "utf-8";

/* CSS Reset */
html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;

}



.company {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    height: 150px;
}

.bill {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-second {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: start;
    justify-items: end;
    align-content: space-between;
}

.content-second>table {
    margin-right: 40px;
}

.invoice {
    text-align: right;
    margin-right: 50px;

}


.company>img {
    height: 50%;
    padding-top: 2px;
    margin: 10px;
}

.content-third {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;

}

.content-third>table>thead {
    text-align: left;
}

.empty {
    min-height: 200px;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: right;
    margin-top: 300px;
    margin-right: 50px;

}