@charset "utf-8";

/* CSS Reset */
html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;

}

.company {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    height: 150px;
}

.company>img {
    height: 75%;
    padding-top: 20px;
    margin-left: 30px;
}

.bill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.content-first {
    margin-left: 10px;
}

.content-second {
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: 5fr 1fr;
    align-items: start;
    justify-items: end;
    align-content: space-between;
}

.content-second>table {
    border-collapse: collapse;
    height: 90%;
    margin: 20px;
}

.content-second tr td {
    border: solid 1px black;
    vertical-align: middle;
    text-align: center;
}

.content-second>table {
    margin-right: 10px;
}

.invoice {
    text-align: right;
    margin-right: 10px;
    padding-top: 20px;

}



.content-third {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;

}

.content-third>table>thead {
    text-align: left;
}

.content-third>table {
    margin-left: 10px;
    margin-right: 10px;
}

.empty td {
    padding-top: 50px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: right;
    margin-top: 240px;
    margin-right: 10px;

}